.cg-details-box {
  background: var(--cg-gray-light);
  border: 1px solid var(--cg-gray);
  padding: var(--cg-space);
  border-radius: var(--cg-radius);
}
.cg-details-box h3 {
  margin-bottom: var(--cg-space);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--cg-gray);
}
.cg-details-box label {
  display: block;
  margin-top: var(--cg-space-sm);
  font-weight: bold;
}
.cg-details-box input[type=text],
.cg-details-box select {
  width: 100%;
  padding: var(--cg-space-sm);
  margin-top: var(--cg-space-sm);
  border: 1px solid var(--cg-gray);
  border-radius: var(--cg-radius);
  font-size: 1rem;
}
